h1 { 
    text-align: center;
    background-color: gray;
    color: white;
    padding: 2rem
}

table {
    font-size: 18px;
    border: 1px solid black;
    background-color: lightgray;
    width: 80%;
    margin: 1em;
}

td {
    padding: .5em 1em;
    background-color: lightgray;
    border: 1px solid black;
    
}

.inputs-area {
    width: 80%;
    margin: 1rem 1.5rem;
}
.staff-table-entry {
    background-color: white;
}

.staff-sal-entry {
    text-align: right;
    background-color: white;
}

#totalSalary {
    width: 80%;
    padding: 1em 1em;
    text-align: right;
}